:root {
    --main-bg-color: #fef5ed;
    --container-bg-color: #f7ecde;
    --primary-color-alt: #ff9f45;
    --main-font: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: var(--main-bg-color);
    font-family: var(--main-font);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-size: 1.6rem;
}

p {
    font-size: 2rem;
    margin: 0;
}
.container {
    width: 100%;
    margin: 0 auto;
    max-width: 2500px;
}

@media (min-width: 768px) {
    .container {
        width: 95%;
    }
}

img {
    max-width: 100%;
}
ul {
    text-decoration: none;
    margin: 0;
    padding: 0;
}
li {
    margin: 0;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4{
    margin: 0;
}
.subtitle {
    font-size: 3rem;
    text-align: center;
    text-decoration: underline;
}

/* Header */
.site-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    justify-content: space-around;
}

.site-header img {
    align-self: center;
    width: 20rem;
    height: 20rem;
}

.logo {
    font-size: 3.5rem;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
}
.logo span {
    color: var(--primary-color-alt);
}
.logo img {
    display: inline-block;
}

.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: var(--container-bg-color);
}
.navbar a {
    color: #000;
    margin: 2rem 0;
    font-size: 2.5rem;
    transition: all 0.3s ease-in-out;
}
.navbar a:hover {
    color: var(--primary-color-alt);
}

@media (min-width: 768px) {
    .site-header {
        flex-direction: row;
    }
    .logo {
        flex-direction: row-reverse;
        align-items: flex-end;
    }
    .logo img {
        height: 10rem;
        width: 10rem;
    }
    .navbar {
        flex-direction: row;
        width: auto;
        background-color: transparent;
    }
    .navbar a {
        font-size: 2rem;
        margin-right: 2rem;
    }
}
/****************** Home Page *******************/
/* Why us section */
.whyus__container {
    background-color: var(--container-bg-color);
    display: flex;
    flex-direction: column-reverse;
    border-radius: 15px;
}

.whyus__img img {
    height: 30rem;
}

.whyus__img {
    margin: 0 auto;
}
.whyus__content {
    padding: 2rem;
}
.whyus__content h2{
    margin: 2rem 0;
}
@media (min-width: 768px) {
    .whyus__container {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .whyus__img {
        max-height: 70rem;
        padding: 1rem;
        max-width: 95%;
    }
    .whyus__img img {
        height: 60rem;
    }
}
/* About section */
/* Tips */

.tip__container {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tip__container h2{
    font-size: 3rem;
}

.tip__content{
    padding: 2rem;
}


.tip__img img{
    height: auto;
}

@media (min-width: 768px) {
    .tip__img img{
        display: block;
        width: 100%;
        height: 30rem;
    }
}
/****************** Profile Page *******************/
/****************** Auth Page *******************/
